@layout('main')

	@section('content')
		<form action="/tasks" method="POST">
			{{ csrfField() }}	

			<div class="form-group">
				<label for="">Title</label>
				<input type="text" name="title" class="form-control">
			</div>
			<div class="form-group">
				<label for="">Body</label>
				<input type="text" name="body" class="form-control">
			</div>

			<button type="submit" class="btn btn-primary">
				Guardar
			</button>
		</form>
	@endsection