@layout('main')
	@section('content')
		<ul class="list-group">
			@each(task in tasks)
				<li class="list-group-item">
					<a href="/tasks/{{task.id}}">{{ task.title }}</a>
				</li>
			@endeach
		</ul>
	@endsection